@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, div, p, h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

p {
  font-family: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?76tvjv");
  src: url("../fonts/icomoon.eot?76tvjv#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?76tvjv") format("truetype"), url("../fonts/icomoon.woff?76tvjv") format("woff"), url("../fonts/icomoon.svg?76tvjv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
  content: "\e90a";
  color: #fff;
}

.icon-chevron-small-right:before {
  content: "\e900";
}

.icon-chevron-small-left:before {
  content: "\e903";
}

.icon-chevron-small-down:before {
  content: "\e905";
}

.icon-clock-o:before {
  content: "\e906";
}

.icon-inbox:before {
  content: "\e907";
}

.icon-phone:before {
  content: "\e908";
}

.icon-map-marker:before {
  content: "\e909";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e904";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1630px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.min_container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  background: url("../img/hero/hero_bg_and_gradient.webp") center/cover no-repeat;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 100px;
}

.title, .project_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hero__slider_title {
  font-size: 80px;
  line-height: 98px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 220px 0 0 0;
}

.hero__slider_subtitle {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  margin-top: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder__menu, .heder__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__item:not(.menu__item:last-child) {
  margin-right: 70px;
}
.menu .menu__link {
  display: inline-block;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
}
.menu .menu__link::before {
  position: absolute;
  content: "";
  top: 4.5px;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.menu .menu__link:hover::before {
  background-color: #FFFFFF;
}

.heder__socials .socials__item:not(.socials__item:last-child) {
  margin-right: 20px;
}

.btn__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.btn__link .btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.btn__link:hover {
  border: 1px solid #FFFFFF;
}

.hero__nav {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}

.section__title {
  font-size: 44px;
  line-height: 54px;
  padding-top: 30px;
  position: relative;
}
.section__title::before {
  position: absolute;
  content: "";
  top: 0;
  right: 50%;
  width: 100px;
  height: 1px;
  -webkit-transform: translate(50%);
      -ms-transform: translate(50%);
          transform: translate(50%);
  background-color: #2C4058;
}

.projects {
  color: #2C4058;
  margin-bottom: 150px;
}

.projects__title {
  margin-bottom: 147px;
}

.project_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image_wrapper {
  width: 100%;
  max-width: 630px;
  position: relative;
}
.image_wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.image_wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.project_block:not(.project_block:last-of-type) {
  margin-bottom: 177px;
}

.project__img::before {
  padding-top: 74.6%;
}

.bg_left, .bg_right {
  position: relative;
}
.bg_left::after, .bg_right::after {
  position: absolute;
  content: "";
  top: -57px;
  width: 585px;
  height: 470px;
  z-index: -1;
}

.bg_left::after {
  left: -215px;
  background-color: #55B7FF;
}

.bg_right::after {
  right: -215px;
  background-color: #7E5AFF;
}

.project__text {
  max-width: 476px;
  width: 100%;
  padding-bottom: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.project_title {
  font-size: 44px;
  line-height: 54px;
  text-align: left;
  margin-bottom: 20px;
}
.project_title .project_subtitle {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
  color: inherit;
}

.btn {
  border: 1px solid #2C4058;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  background: none;
  padding: 16px 41px;
  cursor: pointer;
  margin-bottom: 60px;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.location {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.location .icon-map-marker {
  padding-right: 10px;
}

.news__list {
  position: relative;
}

.news {
  background: url(../img/news/news_bg.webp) center/cover no-repeat;
  padding-top: 120px;
  padding-bottom: 170px;
  margin-bottom: 150px;
}

.news__title {
  color: #FFFFFF;
  margin-bottom: 90px;
}
.news__title::before {
  background-color: #FFFFFF;
}

.news_item {
  margin: 0 15px;
  max-width: 370px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  color: #2C4058;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.news_item:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.news_item span {
  display: inline-block;
}
.news_item .news__img {
  max-width: 370px;
  margin-bottom: 30px;
}
.news_item .news__img::before {
  padding-top: 64.86%;
}
.news_item .news_content {
  padding: 0 20px;
}
.news_item .news_item__title {
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  margin-bottom: 15px;
}
.news_item .news_description {
  line-height: 25px;
  margin-bottom: 40px;
}
.news_item .news_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 30px;
}
.news_item .news__avatar {
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.news_item .news__avatar::before {
  padding-top: 60px;
}
.news_item .news_info {
  font-family: "Montserrat", sans-serif;
}
.news_item .news_info .author_name {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 6px;
}
.news_item .news_info .news_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.gallery {
  margin-bottom: 150px;
}
.gallery .btn {
  display: block;
  margin: 0 auto;
}

.gallery__title {
  margin-bottom: 90px;
}

.gallery__block {
  margin-bottom: 60px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 214px);
}
.gallery__block .gallery__item {
  position: relative;
  cursor: pointer;
}
.gallery__block .gallery__item .icon-glass {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  opacity: 0;
  -webkit-transform: translate(-35px, -35px);
      -ms-transform: translate(-35px, -35px);
          transform: translate(-35px, -35px);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.gallery__block .gallery__item:hover .icon-glass {
  opacity: 1;
}
.gallery__block .gallery__item:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}
.gallery__block .gallery__item:nth-child(2) {
  grid-row: 1/2;
  grid-column: 3/4;
}
.gallery__block .gallery__item:nth-child(3) {
  grid-row: 1/2;
  grid-column: 4/5;
}
.gallery__block .gallery__item:nth-child(4) {
  grid-row: 2/3;
  grid-column: 3/4;
}
.gallery__block .gallery__item:nth-child(5) {
  grid-row: 2/3;
  grid-column: 4/5;
}

#map {
  height: 700px;
  width: 100%;
}

.slick-dots li {
  margin: 0;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.slick-dots li button:hover {
  background-color: #FFFFFF;
}
.slick-dots li button::before {
  content: "";
}
.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}
.slick-dots li:not(li:last-child) {
  margin-right: 40px;
}

.hero__slider .slick-dots {
  position: absolute;
  bottom: 0;
  right: -52px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prev_arrow, .next_arrow {
  position: absolute;
  top: 50%;
  color: #FFFFFF;
}

.prev_arrow {
  left: -100px;
}

.next_arrow {
  right: -100px;
}

.news__list .slick-dots {
  bottom: -40px;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
}/*# sourceMappingURL=style.css.map */